<!-- <header>
  <div class="container-fluid position-relative no-side-padding">

    <a href="#" class="logo">IT Zone</a>
    
    <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

    <ul class="main-menu visible-on-click" id="main-menu">
      <li><a href="#">Acceuil</a></li>
      <li><a href="#">Categories</a></li>
      <li><a href="#">Mes posts</a></li>
    </ul>
    

    <div class="src-area" style="width: 30%;">
      <form>
        <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
        <input class="src-input" type="text" placeholder="Recherche">
      </form>
    </div>

  </div>
</header> -->


<header>
  <div class="container-fluid position-relative no-side-padding">

    
    <a href="#" class="logo" style="font: larger Lato, Roboto, sans-serif; font-weight: 900;color:#007FFF">IT Zone</a>
    <!--<img src="images/logo.png" alt="Logo Image">-->

    <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

    <ul class="main-menu visible-on-click" id="main-menu">
      <li><a routerLink="/posts">Accueil</a></li>
      <li><a href="#">Categories</a></li>
      <li><a href="#">Mes postes</a></li>
      <li><a href="/login">Déconnecter</a></li>
      <li style="padding: 11px; margin-left: 100px;"><button type="button" class="btn btn-primary"><a routerLink="/ajoutPost">Ajouter un Poste</a></button></li>

    </ul><!-- main-menu -->





    <div class="src-area" style="width: 30%;">
      <form>
        <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
        <input class="src-input" type="text" placeholder="Recherche">
      </form>
    </div>

  </div><!-- conatiner -->
</header>


